<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Leaderboard</h1>
      </div>
    </div>
    COMING SOON
  </div>
</div>


<!--<div class="py-5">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<table class="table">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th># Rank</th>-->
            <!--<th>Username</th>-->
            <!--<th># Schooled</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr>-->
            <!--<td>1</td>-->
            <!--<td>Mark</td>-->
            <!--<td>6</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>2</td>-->
            <!--<td>Jacob</td>-->
            <!--<td>3</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>3</td>-->
            <!--<td>Larry</td>-->
            <!--<td>1</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
