.avatar {
  border-radius: 100px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  width: 38px;
  padding-left: 5%
}

#title {
  padding-left: 5px
}

.links {
  font-size: smaller;
}
