<div class="py-5">
  <div class="container">
    <div class="row" >
      <div class="col-md-4" *ngFor="let topic of topics">
        <div class="card" *ngIf="isDataLoaded">
          <div class="card-header"> Novice: Username </div>
          <div class="card-body" >
            <h4>{{topic.title}}</h4>
            <h6 class="text-muted">1hr 30 mins</h6>
            <p>{{topic.description}}</p>
            <button (click)="teach()" class="btn btn-primary">Teach</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
